In [1]:
import pandas as pd
file_path = 'Attendees -  - 2024-05-15 00_37_55 +0800.csv'  # Replace this with your actual file path
data = pd.read_csv(file_path)

In [6]:
unique_variants = data['Variant'].value_counts()
total_tickets = data['Variant'].count()
print("Unique Variant Counts:")
print("Total Tickets:", total_tickets)
print(unique_variants)

Unique Variant Counts:
Total Tickets: 119
Variant
Youths (Non-member | 25 years old or below)     68
Youths (Melo member | 25 years old or below)    43
Online Pass (Non-member)                         4
Adults (Non-member)                              2
Adults (Melo CEOs)                               2
Name: count, dtype: int64

In [5]:
for variant in data['Variant'].unique():
    display(data[data['Variant'] == variant][['Surname', 'First Name/Nickname', 'Email', 'Variant', "Company/University:"]])

,Surname,First Name/Nickname,Email,Variant,Company/University:
0,Yeung,Athena,athenayeung523.hku@gmail.com,Youths (Melo member | 25 years old or below),NaN
1,Lo,Chi Yuen,lochiwork1213@gmail.com,Youths (Melo member | 25 years old or below),NaN
2,Wong,Huen Ting,huentingwong114@gmail.com,Youths (Melo member | 25 years old or below),NaN
3,Kan,Jie Sheng/Jason,jasonkan6@gmail.com,Youths (Melo member | 25 years old or below),NaN
4,Yao,Shirley,yaoszeyan@gmail.com,Youths (Melo member | 25 years old or below),NaN
6,Lam,Ansen,ansenlam2003@gmail.com,Youths (Melo member | 25 years old or below),NaN
8,Sharma,Anupriya,apanupriya11@gmail.com,Youths (Melo member | 25 years old or below),NaN
9,Chia,Audrey,audreycheuka@gmail.com,Youths (Melo member | 25 years old or below),NaN
10,Kwok,Bernadette,bernadettekwok24@gmail.com,Youths (Melo member | 25 years old or below),NaN
11,Lam,Vincent,lamchakhim0909@gmail.com,Youths (Melo member | 25 years old or below),NaN
12,Kan,Robin,robinkan610@gmail.com,Youths (Melo member | 25 years old or below),NaN
13,Chan,Chris,chantnchris@gmail.com,Youths (Melo member | 25 years old or below),NaN
14,NaN,NaN,choyjulius@gmail.com,Youths (Melo member | 25 years old or below),NaN
15,NaN,NaN,choyjulius@gmail.com,Youths (Melo member | 25 years old or below),NaN
16,Choy,Julius,choyjulius@gmail.com,Youths (Melo member | 25 years old or below),NaN
17,Zeng,Jin,jinjin97058380@gmail.com,Youths (Melo member | 25 years old or below),NaN
18,Wong,Monique,moniquew@connect.hku.hk,Youths (Melo member | 25 years old or below),NaN
19,Agarwal,Krish,krishankagarwal2003@gmail.com,Youths (Melo member | 25 years old or below),NaN
20,Xiao,Helen,ailinhelen@gmail.com,Youths (Melo member | 25 years old or below),NaN
21,Yeung,Prudence,py772001@gmail.com,Youths (Melo member | 25 years old or below),NaN
27,Xu,Shengzhe (Sean),sxu78@cmc.edu,Youths (Melo member | 25 years old or below),NaN
36,Lam,Fanny,snlamad@connect.ust.hk,Youths (Melo member | 25 years old or below),NaN
37,Lo,Nikkia,nikniklo0308@gmail.com,Youths (Melo member | 25 years old or below),NaN
44,Cheung,Alfa,chcheungbm@connect.ust.hk,Youths (Melo member | 25 years old or below),NaN
46,Kong,Devin,devin.kong@foxmail.com,Youths (Melo member | 25 years old or below),NaN
47,Chow,Richard,slchowac@connect.ust.hk,Youths (Melo member | 25 years old or below),NaN
48,Cheng,Leong,lchengao@connect.ust.hk,Youths (Melo member | 25 years old or below),NaN
55,Lee,Raymond,rlee284@outlook.com,Youths (Melo member | 25 years old or below),NaN
60,Dussoye,Shaan,shaanduss@gmail.com,Youths (Melo member | 25 years old or below),NaN
61,Poon,Marvin,marvinpoon@gmail.com,Youths (Melo member | 25 years old or below),NaN
62,Lee,Shania,shanialeejbap@gmail.com,Youths (Melo member | 25 years old or below),NaN
69,Lee,Hong Yiu,limage356@gmail.com,Youths (Melo member | 25 years old or below),NaN
70,Chheda,Tanish,tanishchheda12@gmail.com,Youths (Melo member | 25 years old or below),NaN
71,Mahmood,Khalil,kmahmood@connect.ust.hk,Youths (Melo member | 25 years old or below),NaN
72,Leung,Wing Kiu,rainleungwk@gmail.com,Youths (Melo member | 25 years old or below),NaN
76,Lao,Sabrina,laosabrina00@gmail.com,Youths (Melo member | 25 years old or below),NaN
79,Cheng,Jacey,jacey0207.jc@gmail.com,Youths (Melo member | 25 years old or below),NaN
80,Fung,Emily,fungemilyyyy@gmail.com,Youths (Melo member | 25 years old or below),NaN
81,Ali,Shahman,saliac@connect.ust.hk,Youths (Melo member | 25 years old or below),NaN
85,Ho,Milly,miucaffrey@gmail.com,Youths (Melo member | 25 years old or below),NaN
89,Parng,Jamie,jamie.parng@gmail.com,Youths (Melo member | 25 years old or below),NaN
96,Ng,Joy,joynyy0224@gmail.com,Youths (Melo member | 25 years old or below),NaN
101,Lo,Chammie,chammie@connect.hku.hk,Youths (Melo member | 25 years old or below),NaN

,Surname,First Name/Nickname,Email,Variant,Company/University:
5,Cheung,Lok Ching,joeycheunglc@gmail.com,Youths (Non-member | 25 years old or below),University of Hong Kong
7,Chopra,Aditya Vikram Raj Singh,aditya14091409@gmail.com,Youths (Non-member | 25 years old or below),HKUST
22,Chui,Ceci,22077626d@connect.polyu.hk,Youths (Non-member | 25 years old or below),The Hong Kong Polytechnic University
23,Tong,Lucas,lucastong2020polyu@gmail.com,Youths (Non-member | 25 years old or below),PolyU
24,Lo,Andrew,locyandrew@gmail.com,Youths (Non-member | 25 years old or below),PolyU
...,...,...,...,...,...
108,Chan,James,jameschan1324@gmail.com,Youths (Non-member | 25 years old or below),HKUST
109,Koay,Warren,poon.veronica@gmail.com,Youths (Non-member | 25 years old or below),UWC Dover
113,Yeung,Brian,ywcbrian@gmail.com,Youths (Non-member | 25 years old or below),UCLA/UChicago
116,Yip,Roy,csyipae@connect.ust.hk,Youths (Non-member | 25 years old or below),HKUST
118,SAM,Michael,michsam9237@gmail.com,Youths (Non-member | 25 years old or below),Hang Seng Bank

,Surname,First Name/Nickname,Email,Variant,Company/University:
78,Wong,Nic,nicholaswong243@gmail.com,Online Pass (Non-member),Societe Generale/CityU
97,Yeung,Richard,richardyeunghei2000@gmail.com,Online Pass (Non-member),Keio University
110,Lee,Hsin Hai,lee20010210@gmail.com,Online Pass (Non-member),Eu Business School
111,Leung,Clark,clarkleung2003@gmail.com,Online Pass (Non-member),University of Essex

,Surname,First Name/Nickname,Email,Variant,Company/University:
112,Lau,Nicole,launicolec@gmail.com,Adults (Non-member),JPMorgan
117,Poon,Veronica,poon.veronica@gmail.com,Adults (Non-member),Greenwave

,Surname,First Name/Nickname,Email,Variant,Company/University:
114,Ngai,Francis,francis.ngai@sv-hk.org,Adults (Melo CEOs),SVHK
115,Tsoi,Steven,steven.tsoi@sv-hk.org,Adults (Melo CEOs),SVHK